.nav1_button > button {
	margin-left: 5px;
	width: 80px;
}

#homepage_username {
	margin-left: 55px;
	margin-right: 15px;
	margin-top: 10px;
	color: white;
}

body {
	background-color: #ffd196;
}

#about {
	margin-top: 10%;
	padding-left: 10%;
}

.homepage {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	height: 400px;
	background-color: inherit;
}

.homepage > span {
	display: inline;
	float: left;
	max-width: 45%;
}

.homepage > span > img {
	max-height: 500px;
}

.events {
	padding: 2%;
	margin-left: 10%;
	margin-right: 10%;
	min-height: 250px;
	background-color: inherit;
}

.events > span {
	display: inline;
	float: left;
	min-width: 26%;
	margin-left: 7%;
}

.events > h3 {
	position: absolute;
	padding-left: 6%;
}

.events > span > img {
	margin-top: 15px;
	height: 200px;
}

#index_footer {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #ffd196;
}

.modal-header {
  background-color: #5cb85c;
}

.registerForm {
	margin-left: 0px;
}

.registerForm > input {
	margin-left: 15px;
}

.registerForm > div > input {
	width: 400px;
}

#registerButton {
	margin-left: 12px;
	margin-top: 5px;
}

#regFormDiv {
	height: 600px;
	margin-left: 15%;
}

#regFormDiv > span {
	width: 40%;
	margin-right: 5%;
}

.user_information_block {
	background-color: grey;
	height: 100%;
	width: 30%;
	padding: 10px;
}

.user_information_block > div {
	width: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.user_information_block > div > img {
	margin-top: 5px;
	width: 320px;
}

.user_information_block > div > span {
	float: left;
}

#user_info_list_left {
	width: 300px;
	margin: 0px;
}

.info_text {
	float: right;
}

#image_preview_file {
	width: 400px;
	margin-bottom: 5px;
}

.user_block > div {
	margin-top: 5px;
}

.user_block > div > button {
	width: 28.5%;
}
