.nav1_button > button {
	margin-left: 5px;
	width: 80px;
}

#homepage_username {
	margin-left: 55px;
	margin-right: 15px;
	margin-top: 10px;
	color: white;
}

body {
	background-color: #ffd196;
}

#about {
	margin-top: 10%;
	padding-left: 10%;
}

.homepage {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	height: 400px;
	background-color: inherit;
}

.homepage > span {
	display: inline;
	float: left;
	max-width: 45%;
}

.homepage > span > img {
	max-height: 500px;
}

.events {
	padding: 2%;
	margin-left: 10%;
	margin-right: 10%;
	min-height: 250px;
	background-color: inherit;
}

.events > span {
	display: inline;
	float: left;
	min-width: 26%;
	margin-left: 7%;
}

.events > h3 {
	position: absolute;
	padding-left: 6%;
}

.events > span > img {
	margin-top: 15px;
	height: 200px;
}

#index_footer {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #ffd196;
}

.registerForm {
	margin-left: 0px;
}

.registerForm > input {
	margin-left: 15px;
}

.registerForm > div > input {
	width: 400px;
}

#registerButton {
	margin-left: 12px;
	margin-top: 5px;
}

#regFormDiv {
	height: 600px;
	margin-left: 15%;
}

#regFormDiv > span {
	width: 40%;
	margin-right: 5%;
}

.user_information_block > div {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.user_information_block > div > img {
	margin-top: 5px;
	width: 320px;
}

.user_information_block > div > span {
	float: left;
}

#user_info_list_left {
	width: 300px;
	margin: 0px;
}

.info_text {
	float: right;
}

#image_preview_file {
	width: 400px;
	margin-bottom: 5px;
}

#user_block1 {
	height: 330px;
}

.user_block > div > button {
	width: 28.5%;
	margin-left: 5px;
	margin-top: 5px;
}

.person_row {
	width: 90%;
	height: 280px;
	margin-left: 4%;
}

#user_block_btn {
	margin-left: 20px;
	width: 40%;
}

.search_container {
	width: 90%;
	margin-left: 5%;
	margin-top: 10px;
	height: 100%;
}

.nav{
	background-color: #ffd196;
	color: #000000;
}

.btn-group{
	width: 100%;
	border-color: #000000;
}

.nav-pills .nav-link{
	border-color:  rgba(0, 0, 0, 0.2);
}

.nav-pills .nav-link:not(.active) {
    background-color: 	rgb(176,176,176);
    color: #ffffff;
}

.nav-pills .nav-link.active {
    background-color:   rgb(144,144,144);
    color: white;
}

.search_row1 {
    background-color: #ffd196;
}

.card{
	width: 20%;
}

.slika{
		max-width: 38%;
}

.d-inline-flex{
		position: absolute;
		margin-left: 5px;
		background-color: powderblue;
}

.imebtn{
	width: 100%;
}

.slika2{
	height: 300px;
}

#flex2{
	max-width: 66%;
	max-height: 52%;
}

.dario{
	margin-left: -200px;
}

.namirnice_forma{
	width: 30%;
	margin: auto;
	border-color: grey;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
